<!DOCTYPE html>
<html>
  <head>
    <title>Product Site</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to our site</h1>
    <p>This is a proof of concept for our product site backend.</p>
  </body>
</html>
